<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>demo11</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>

  <body>
    <div id="app"></div>
  </body>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          message: "bilibili",
        };
      },
      methods: {
        handleItemClick() {
          this.message =
            this.message === "hello"
              ? "hi"
              : this.message === "bilibili"
              ? "hello"
              : "bilibili";
        },
      },
      // template: "<h2 v-on:click='handleItemClick' v-html='message' v-once></h2>"
      // 也可以使用 v-else
      template: `
        <h2 @click="handleItemClick" v-if="message === 'hello'" class="one">{{message}}</h2>
        <h2 @click="handleItemClick" v-if="message === 'hi'" class="two">{{message}}</h2>
        <h2 @click="handleItemClick" v-if="message === 'bilibili'" class="three">{{message}}</h2>
        `,
    });
    const vm = app.mount("#app");
    // v-if
  </script>
  <style>
    .one {
      color: red;
    }

    .two {
      color: green;
    }

    .three {
      color: orange;
    }
  </style>
</html>
