<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>佳丽列表</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({ // 创建一个 VUE 的实例
        data() {
            return {
                list: [],
                inputValue: ""
            }
        },
        methods: {
            handleAddItem() {
                this.list.push(this.inputValue)
                this.inputValue = ""
                //document.getElementById("inputValue").focus();
                this.$nextTick(() => this.$refs.inputValue.focus());
            }
        },
        template: `
            <div>
                <my-title/>
                <input ref="inputValue" v-model="inputValue">
                <button v-on:click="handleAddItem">添加 mm</button>
                <ul>
                    <my-jiali 
                        v-for="(item,index) of list"
                        v-bind:item="item"
                        v-bind:index="index"
                    />
                </ul>
            </div>
            `
    })
    app.component('my-title', {
        template: '<h1 style="text-align:center">象牙山洗脚城</h1>'
    })
    app.component('my-jiali', {
        props:['index','item'],
        template: `<li>[{{index}}]{{item}}</li>`
    })
    app.mount("#app")
</script>

</html>